{% extends "base.html" %}

{% block title %}
    Flight Services
{% endblock %}

{% block content %}
    <div class="container-md">
        <br>
        <h1>Our Services</h1>
        <br>
        <p>View the most up-to-date information about our current and upcoming flights.</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="card">
                    <div class="card-header bg-info">
                        Prestige Service to Hobart
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Weekly "prestige" service to Hobart (Tasmania)</p>
                        <p class="card-text">The outbound flight departs Dairy Flat on Friday early morning.</p>
                        <p class="card-text">the inbound flight departs Hobart on Sunday mid-afternoon (local time).</p>
                        <p class="card-text">High-end SyberJet SJ30i jet, boasting 5 luxury seats.</p>

                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card">
                    <div class="card-header bg-info">
                        Shuttle Service to Rotorua
                    </div>
                    <div class="card-body">
                        <p>Twice daily shuttle service to Rotorua.</p>
                        <p>Operating every weekday, i.e. Monday to Friday.</p>
                        <p>The first flight departs from Dairy Flat early morning, with the return flight departing from
                            Rotorua at noon.</p>
                        <p> The next flight departs from Dairy Flat late afternoon, with the return flight departing Rotorua
                            in the evening</p>
                        <p>Modern Cirrus SF50 jet with 4 spacious seats.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card">
                    <div class="card-header bg-info">
                        Normal Service to Claris
                    </div>
                    <div class="card-body">
                        <p>Three times weekly service to Claris airport in Great Barrier Island.</p>
                        <p>The outbound flights depart from Dairy Flat in the morning every Monday, Wednesday, and
                            Friday.</p>
                        <p> The return flights depart from Great Barrier Island in the morning every
                            Tuesday, Thursday, and Saturday.</p>
                        <p>Modern Cirrus SF50 jet with 4 spacious seats.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card">
                    <div class="card-header bg-info">
                        Normal Service to Tuuta
                    </div>
                    <div class="card-body">
                        <p>Twice weekly service to Tuuta Airport in the Chatham Islands.</p>
                        <p>The outbound flights depart from Dairy Flat on Tuesday and Friday.</p>
                        <p>The return flights depart from Tuuta on Wednesday and Saturday.</p>
                        <p>Light, quiet HondaJet Elite jet with 5 seats.</p>
                    </div>
                </div>
            </li>
                        <li class="list-group-item">
                <div class="card">
                    <div class="card-header bg-info">
                        Normal Service to Lake Tekapo
                    </div>
                    <div class="card-body">
                        <p>Weekly service to Lake Tekapo in the South Island.</p>
                        <p>The outbound flight departs from Dairy Flat on Monday.</p>
                        <p>The return flight departs from Lake Tekapo on Tuesday.</p>
                        <p>Light, quiet HondaJet Elite jet with 5 seats.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}