{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h1>Manage My Booking</h1>
        <br>
        <p>View or make changes to your flight.</p>
        <form action="" method="post">
            <div class="form-group">
                <!-- the name attribute is really important -->
                <label for="booking_ref" class="form-label">Booking reference</label>
                <input type="password" class="form-control" id="booking_ref" name="booking_ref"
                       placeholder="Please enter your booking reference (e.g. MNR64T)" required="required">
            </div>
            <div class="form-group">
                <!-- the name attribute is really important -->
                <label for="last_name" class="form-label">Your last name</label>
                <input type="text" class="form-control" id="last_name" name="last_name"
                       placeholder="Please enter your last name (e.g. Bond)" required="required">
            </div>
            <br>
            <button type="submit" class="btn btn-success">Find My Booking</button>
        </form>
    </div>

{% endblock %}